* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
    font-family: 'Jost', sans-serif;
font-family: 'Open Sans', sans-serif;
}



img {
    max-width: 100%;    
    height: 100px;
  }

  .section{
    max-width: 100%;
  }

  .sezione-top:last-child{
    margin right: 0;
  }


  .container{
    background-color: black;
    color: white;
    width: 30%;
    float: left;
    margin: 1%;
    
  }

  .container::after {
    content: "";
    display: table;
    clear: both;
  }

  .thumb{
    float: left;
  }



